# TeamsFx files
env/.env.*.user
env/.env.local
.localConfigs
appPackage/build
.localConfigs.testTool
.notification.localstore.json
.notification.testtoolstore.json

# devTools
devTools/

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# build
lib/

# Azurite storage
_storage_emulator


